<h1 class="mt-5">Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>" class="link-dark"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class="link-dark">New place</a>
</p>